<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分组</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/classroomSet.css">
    <link rel="stylesheet" href="../css/page.css">
    <style>

    </style>
</head>
<body class="bggraybody">
<div class="z-content">
    <div class="term-tab clearfix mab16">
        <div class=" z-import fl">
            <img src="../images/icon-group.png" alt="">
            自动分组
        </div>
        <div class="term-btn fr">
            <img src="../images/icon-add.png" alt="">
            添加
        </div>

    </div>
    <div class="table-area ">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>班级名称</th>
                <th>课程名称</th>
                <th>学生来源</th>
                <th>教员</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>01</td>
                <td>职业化妆1组</td>
                <td>职业化妆</td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪，丁珠，浦宁，余莉…</span><i>20人</i></p>
                </td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪，丁珠，浦宁，余莉…</span><i>20人</i></p>
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>02</td>
                <td>职业化妆1组</td>
                <td>职业化妆</td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪，丁珠，浦宁，余莉…</span><i>20人</i></p>
                </td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪</span></p>
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>02</td>
                <td>职业化妆1组</td>
                <td>职业化妆</td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪，丁珠，浦宁，余莉…</span><i>20人</i></p>
                </td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪</span></p>
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>02</td>
                <td>职业化妆1组</td>
                <td>职业化妆</td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪，丁珠，浦宁，余莉…</span><i>20人</i></p>
                </td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪</span></p>
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>02</td>
                <td>职业化妆1组</td>
                <td>职业化妆</td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪，丁珠，浦宁，余莉…</span><i>20人</i></p>
                </td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪</span></p>
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>02</td>
                <td>职业化妆1组</td>
                <td>职业化妆</td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪，丁珠，浦宁，余莉…</span><i>20人</i></p>
                </td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪</span></p>
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>02</td>
                <td>职业化妆1组</td>
                <td>职业化妆</td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪，丁珠，浦宁，余莉…</span><i>20人</i></p>
                </td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪</span></p>
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>02</td>
                <td>职业化妆1组</td>
                <td>职业化妆</td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪，丁珠，浦宁，余莉…</span><i>20人</i></p>
                </td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪</span></p>
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>02</td>
                <td>职业化妆1组</td>
                <td>职业化妆</td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪，丁珠，浦宁，余莉…</span><i>20人</i></p>
                </td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪</span></p>
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>02</td>
                <td>职业化妆1组</td>
                <td>职业化妆</td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀，鄂仪，丁珠，浦宁，余莉…</span><i>20人</i></p>
                </td>
                <td>
                    <p class="w_tabpeo"><span class="overhidden">孔偀</span></p>
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="page-list">
            <div class="ht-page"></div>
        </div>

    </div>
</div>
</body>
<script src="../templeteJs/jquery-3.3.1.min.js"></script>
<script src="../templeteJs/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../templeteJs/jquery-page.js"></script>
<script>
    $(document).ready(function () {


        //分页
        function pageChange(i) {
            console.log("index is :" + i);
            Pagination.Page($(".ht-page"), i, 1000, 10);
        }
        /*
        * 初始化插件
        * @param  object:翻页容器对象
        * @param  function:回调函数
        * */
        Pagination.init($(".ht-page"), pageChange);
        /*
        * 首次调用
        * @param  object:翻页容器对象
        * @param  number:当前页
        * @param  number:总条数
        * @param  number:每页数据条数
        * */
        Pagination.Page($(".ht-page"), 0, 1000, 10);
        //滚动条
        $(".select-dropdown").mCustomScrollbar({
            axis: "y"
        });
    })
</script>
</html>