<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>规则-时间规则</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="../css/popup-common.css">
    <link rel="stylesheet" href="../css/select-common.css">
    <link rel="stylesheet" href="../css/timetableStructure.css">
</head>
<body class="bggraybody">
<div class="z-content">
    <div class="z-no-data" style="display: block">
        <img src="../images/icon-nodata.png" alt="" class="z-data-img">
        <p>暂无规则</p>
        <div class="z-create-btn">
            <img src="../images/icon-add.png" alt="">
            添加规则
        </div>
    </div>
</div>
<div class="marker" style="display: none"></div>
<div class="popup pu-create" id="new-add" style="display: none">
    <div class="pu-title">
        <h4>添加规则</h4>
        <span class="pu-close"></span>
    </div>
    <div class="pu-con" style="overflow: visible;">
        <div class="new-add biweekly clearfixs">
            <div class="lab clearf">
                <div class="clearfixs fl">
                    <h3 class="w-pu_name">上午</h3>
                    <div class="select-input" data-title="" style="width: 180px;margin-right:24px;">
                        <input type="text" class="name ckd" readonly placeholder="请选择"><i></i>
                        <div class="select-dropdown ">
                            <ul class="dropdown-list">
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfixs fl">
                    <h3 class="w-pu_name">下午</h3>
                    <div class="select-input" data-title="" style="width: 180px">
                        <input type="text" class="name ckd" readonly placeholder="请选择"><i></i>
                        <div class="select-dropdown ">
                            <ul class="dropdown-list">
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="pu-btn">
        <span class="btn-cancel">取消</span>
        <span class="btn-confirm">确定</span>
    </div>
</div>
</body>
<script src="../templeteJs/jquery-3.3.1.min.js"></script>
<script src="../templeteJs/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../js/timetableStructure.js"></script>
<script>
    $(document).ready(function () {
        //滚动条
        $(".select-dropdown").mCustomScrollbar({
            axis: "y"
        });
    })
</script>
</html>