<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学员管理</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/classroomSet.css">
    <link rel="stylesheet" href="../css/page.css">
    <style>

    </style>
</head>
<body class="bggraybody">
<div class="z-content">
    <div class="term-tab clearfix mab16">
        <div class="term-search fl">
            <img src="../images/icon-search.png" alt="">
            <input type="text" placeholder="按姓名检索">
        </div>
        <div class="term-btn fr mal16">
            <img src="../images/icon-add.png" alt="">
            添加
        </div>
        <div class="term-btn fr ">
            <img src="../images/icon-import.png" alt="">
            导入
        </div>
    </div>
    <div class="table-area ">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>姓名</th>
                <th>手机号</th>
                <th>工号</th>
                <th>职务</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>01</td>
                <td>湛欣晓</td>
                <td>139****9282</td>
                <td>
                    7791
                </td>
                <td>
                    乘务员
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>湛欣晓</td>
                <td>139****9282</td>
                <td>
                    7791
                </td>
                <td>
                    乘务员
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>湛欣晓</td>
                <td>139****9282</td>
                <td>
                    7791
                </td>
                <td>
                    乘务员
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>湛欣晓</td>
                <td>139****9282</td>
                <td>
                    7791
                </td>
                <td>
                    乘务员
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>湛欣晓</td>
                <td>139****9282</td>
                <td>
                    7791
                </td>
                <td>
                    乘务员
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>湛欣晓</td>
                <td>139****9282</td>
                <td>
                    7791
                </td>
                <td>
                    乘务员
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>湛欣晓</td>
                <td>139****9282</td>
                <td>
                    7791
                </td>
                <td>
                    乘务员
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>湛欣晓</td>
                <td>139****9282</td>
                <td>
                    7791
                </td>
                <td>
                    乘务员
                </td>
                <td class="twobtnTd">
                    <div class="opt">
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="page-list">
            <div class="ht-page"></div>
        </div>

    </div>
</div>
</body>
<script src="../templeteJs/jquery-3.3.1.min.js"></script>
<script src="../templeteJs/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../templeteJs/jquery-page.js"></script>
<script>
    $(document).ready(function () {


        //分页
        function pageChange(i) {
            console.log("index is :" + i);
            Pagination.Page($(".ht-page"), i, 1000, 10);
        }
        /*
        * 初始化插件
        * @param  object:翻页容器对象
        * @param  function:回调函数
        * */
        Pagination.init($(".ht-page"), pageChange);
        /*
        * 首次调用
        * @param  object:翻页容器对象
        * @param  number:当前页
        * @param  number:总条数
        * @param  number:每页数据条数
        * */
        Pagination.Page($(".ht-page"), 0, 1000, 10);
        //滚动条
        $(".select-dropdown").mCustomScrollbar({
            axis: "y"
        });
    })
</script>
</html>