<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开班</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="../css/classroomSet.css">
    <link rel="stylesheet" href="../css/select-common.css">
    <link rel="stylesheet" href="../css/popup-common.css">
    <link rel="stylesheet" href="../css/timetableStructure.css">
    <link rel="stylesheet" href="../css/page.css">
    <style>

    </style>
</head>
<body class="bggraybody">
<div class="z-content">
    <div class="term-tab clearfix mab16">
        <div class="term-btn fr mal16 z-create-btn">
            <img src="../images/icon-add.png" alt="">
            新增
        </div>
    </div>
    <div class="table-area ">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>年份</th>
                <th>班号</th>
                <th>计划类型</th>
                <th>班名称</th>
                <th>班类型</th>
                <th>开班时间</th>
                <th>结束时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>01</td>
                <td>2020</td>
                <td>2021-001</td>
                <td>
                    正式
                </td>
                <td>
                    2021年客舱乘务员训练复训一期
                </td>
                <td>
                    乘务长班
                </td>
                <td>2020.02.20</td>
                <td class="tabendtime">
                   <p class="tabenddate"> 2021.02.20</p>
                    <div class="opt">
                        <div class="set">
                            <img src="../images/set-icon.png">
                            <div class="tip">设置</div>
                        </div>
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>2020</td>
                <td>2021-001</td>
                <td>
                    正式
                </td>
                <td>
                    2021年客舱乘务员训练复训一期
                </td>
                <td>
                    乘务长班
                </td>
                <td>2020.02.20</td>
                <td class="tabendtime">
                    <p class="tabenddate"> 2021.02.20</p>
                    <div class="opt">
                        <div class="set">
                            <img src="../images/set-icon.png">
                            <div class="tip">设置</div>
                        </div>
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>2020</td>
                <td>2021-001</td>
                <td>
                    正式
                </td>
                <td>
                    2021年客舱乘务员训练复训一期
                </td>
                <td>
                    乘务长班
                </td>
                <td>2020.02.20</td>
                <td class="tabendtime">
                    <p class="tabenddate"> 2021.02.20</p>
                    <div class="opt">
                        <div class="set">
                            <img src="../images/set-icon.png">
                            <div class="tip">设置</div>
                        </div>
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>2020</td>
                <td>2021-001</td>
                <td>
                    正式
                </td>
                <td>
                    2021年客舱乘务员训练复训一期
                </td>
                <td>
                    乘务长班
                </td>
                <td>2020.02.20</td>
                <td class="tabendtime">
                    <p class="tabenddate"> 2021.02.20</p>
                    <div class="opt">
                        <div class="set">
                            <img src="../images/set-icon.png">
                            <div class="tip">设置</div>
                        </div>
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>2020</td>
                <td>2021-001</td>
                <td>
                    正式
                </td>
                <td>
                    2021年客舱乘务员训练复训一期
                </td>
                <td>
                    乘务长班
                </td>
                <td>2020.02.20</td>
                <td class="tabendtime">
                    <p class="tabenddate"> 2021.02.20</p>
                    <div class="opt">
                        <div class="set">
                            <img src="../images/set-icon.png">
                            <div class="tip">设置</div>
                        </div>
                        <div class="edit">
                            <img src="../images/edit-icon.png">
                            <div class="tip">编辑</div>
                        </div>
                        <div class="delete">
                            <img src="../images/delete-icon.png">
                            <div class="tip">删除</div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="page-list">
            <div class="ht-page"></div>
        </div>

    </div>
</div>
<div class="marker" style="display: none"></div>
<div class="popup pu-create" id="" style="display: none">
    <div class="pu-title">
        <h4>新增期</h4>
        <span class="pu-close"></span>
    </div>
    <div class="pu-con" style="overflow: visible;">
        <div class="new-add biweekly clearfixs">
            <div class="lab clearf">
                <div class="clearfixs fl">
                    <h3 class="w-pu_name">年份</h3>
                    <div class="select-input" data-title="" style="width: 180px;margin-right:24px;">
                        <input type="text" class="name ckd" readonly placeholder="请选择"><i></i>
                        <div class="select-dropdown ">
                            <ul class="dropdown-list">
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfixs fl">
                    <h3 class="w-pu_name">类型</h3>
                    <div class="select-input" data-title="" style="width: 180px;">
                        <input type="text" class="name ckd" readonly placeholder="请选择"><i></i>
                        <div class="select-dropdown ">
                            <ul class="dropdown-list">
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                                <li>行政型</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="lab clearf">
                <div class="clearfixs fl">
                    <h3 class="w-pu_name">期名称</h3>
                    <div class="inputs" >
                        <input type="text" class="name ckd" placeholder="请输入"  style="width: 384px">
                    </div>
                </div>
            </div>
            <div class="lab clearf">
                <div class="clearfixs fl">
                    <h3 class="w-pu_name">起止时间</h3>
                    <div class="time-select">
                        <input type="text" id="Time" placeholder="请选择时间" readonly="readonly" lay-key="1">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="pu-btn">
        <span class="btn-cancel">取消</span>
        <span class="btn-confirm">确定</span>
    </div>
</div>
</body>
<script src="../templeteJs/jquery-3.3.1.min.js"></script>
<script src="../templeteJs/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../templeteJs/jquery-page.js"></script>
<script src="../js/timetableStructure.js"></script>
<script src="../templeteJs/laydate.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(document).ready(function () {

        laydate.render({
            elem: "#Time",
            position: "fixed",
            range: true //或 range: '~' 来自定义分割字符
        })
        //分页
        function pageChange(i) {
            console.log("index is :" + i);
            Pagination.Page($(".ht-page"), i, 1000, 10);
        }
        /*
        * 初始化插件
        * @param  object:翻页容器对象
        * @param  function:回调函数
        * */
        Pagination.init($(".ht-page"), pageChange);
        /*
        * 首次调用
        * @param  object:翻页容器对象
        * @param  number:当前页
        * @param  number:总条数
        * @param  number:每页数据条数
        * */
        Pagination.Page($(".ht-page"), 0, 1000, 10);
        //滚动条
        $(".select-dropdown").mCustomScrollbar({
            axis: "y"
        });
    })
</script>
</html>