<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分组</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/classroomSet.css">
    <link rel="stylesheet" href="../css/page.css">
<!--    <link rel="stylesheet" href="../css/table.css">-->
</head>
<body class="bggraybody">
<div class="z-content">
    <div class="term-tab clearfix mab16">
        <div class=" z-import fl">
            <img src="../images/icon-group.png" alt="">
            自动分组
        </div>
        <div class="term-btn fr">
            <img src="../images/icon-add.png" alt="">
            添加
        </div>

    </div>
    <div class="table-area">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>课程名称</th>
                <th>新一天开课</th>
                <th>周六日排课</th>
                <th>连续授课</th>
                <th>忽略自定义规则</th>
                <th>教员固定</th>
                <th >教员资质</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>01</td>
                <td>职业化妆1组</td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td >
                    <div class="select-input">
                        <input type="text" value="初级教员" class="name ckd" readonly placeholder=""><i></i>
                        <div class="select-dropdown ">
                            <ul class="dropdown-list">
                                <li class="cur">初级教员1</li>
                                <li>初级教员2</li>
                                <li>一年级一班3</li>
                                <li>一年级一班4</li>
                                <li>一年级一班5</li>
                                <li>一年级一班6</li>
                                <li>一年级一班6</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>职业化妆1组</td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td >
                    <div class="select-input">
                        <input type="text" value="初级教员" class="name ckd" readonly placeholder=""><i></i>
                        <div class="select-dropdown ">
                            <ul class="dropdown-list">
                                <li class="cur">初级教员1</li>
                                <li>初级教员2</li>
                                <li>一年级一班3</li>
                                <li>一年级一班4</li>
                                <li>一年级一班5</li>
                                <li>一年级一班6</li>
                                <li>一年级一班6</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>职业化妆1组</td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td >
                    <div class="select-input">
                        <input type="text" value="初级教员" class="name ckd" readonly placeholder=""><i></i>
                        <div class="select-dropdown ">
                            <ul class="dropdown-list">
                                <li class="cur">初级教员1</li>
                                <li>初级教员2</li>
                                <li>一年级一班3</li>
                                <li>一年级一班4</li>
                                <li>一年级一班5</li>
                                <li>一年级一班6</li>
                                <li>一年级一班6</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>职业化妆1组</td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td >
                    <div class="select-input">
                        <input type="text" value="初级教员" class="name ckd" readonly placeholder=""><i></i>
                        <div class="select-dropdown ">
                            <ul class="dropdown-list">
                                <li class="cur">初级教员1</li>
                                <li>初级教员2</li>
                                <li>一年级一班3</li>
                                <li>一年级一班4</li>
                                <li>一年级一班5</li>
                                <li>一年级一班6</li>
                                <li>一年级一班6</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>职业化妆1组</td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td><span class="z-switch"></span></td>
                <td >
                    <div class="select-input">
                        <input type="text" value="初级教员" class="name ckd" readonly placeholder=""><i></i>
                        <div class="select-dropdown ">
                            <ul class="dropdown-list">
                                <li class="cur">初级教员1</li>
                                <li>初级教员2</li>
                                <li>一年级一班3</li>
                                <li>一年级一班4</li>
                                <li>一年级一班5</li>
                                <li>一年级一班6</li>
                                <li>一年级一班6</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="page-list">
            <div class="ht-page"></div>
        </div>

    </div>
</div>
</body>
<script src="../templeteJs/jquery-3.3.1.min.js"></script>
<script src="../templeteJs/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../templeteJs/jquery-page.js"></script>
<script>
    $(document).ready(function () {
        // switch 开关
        $(".table-area").on('click',' .z-switch',function () {
            $(this).toggleClass('cur');
        });

        //下拉点击
        $("table .select-input .name").click(function (e) {
            $(".select-input").removeClass("clicked");
            $(this).parent().addClass("clicked");
            stopBubble(e);
        });
        $(".select-dropdown").on("click", ".dropdown-list li", function (e) {
            $(this).addClass("cur").siblings().removeClass("cur");
            $(this).parents(".select-input");
            $(this).parents(".select-input").removeClass("clicked").addClass('active');
            let kol = $(this).text();
            $(this).parents(".select-input").find(".name").val(kol);
            stopBubble(e);
        });
        //分页
        function pageChange(i) {
            console.log("index is :" + i);
            Pagination.Page($(".ht-page"), i, 1000, 10);
        }
        /*
        * 初始化插件
        * @param  object:翻页容器对象
        * @param  function:回调函数
        * */
        Pagination.init($(".ht-page"), pageChange);
        /*
        * 首次调用
        * @param  object:翻页容器对象
        * @param  number:当前页
        * @param  number:总条数
        * @param  number:每页数据条数
        * */
        Pagination.Page($(".ht-page"), 0, 1000, 10);


        function stopBubble(e) {
            //如果提供了事件对象，则这是一个非IE浏览器
            if (e && e.stopPropagation)
                //因此它支持W3C的stopPropagation()方法
                e.stopPropagation();
            else
                //否则，我们需要使用IE的方式来取消事件冒泡
                window.event.cancelBubble = true;
        }
        $(document).on("click", function (event) {
            var _con = $('.select-input'); // 设置目标区域
            if (!_con.is(event.target) && _con.has(event.target).length === 0) { // Mark 1
                $(".select-input").removeClass("clicked");
            }
        });
        //滚动条
        $(".select-dropdown").mCustomScrollbar({
            axis: "y"
        });
    })
</script>
</html>